.login-button{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.login-button__button{
    border: none;
    background-color: #FFC107;
    color: #000;
    border-radius: 5px;
    cursor: pointer;

    position: absolute;
    bottom: 0;
    padding: 20px 12px;
}

.login-button__button:hover,
.login-button__button:focus{
    background-color: #FFD20C;
}
.login-button__button:active{
    background-color: #FFD20C;
}




.login-button__enter{
    right: 0;
}
.login-button__clear{
    margin-right: 10px;
    left: 0;
}