.login-button{

}
.login-button__button{
    border: none;
    background-color: #007BFF;
    color: #fff;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.login-button__button:hover,
.login-button__button:focus{
    background-color: #228dff;
}
.login-button__button:active{
    background-color: #006bdd;
}




.login-button__enter{
}
.login-button__clear{
    margin-right: 10px;

}