.keypad-button{
    padding-top: 100%;
    position: relative;
}
.keypad-button__button{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.4s;
}

.keypad-button__button:hover,
.keypad-button__button:active,
.keypad-button__button:focus{
    background: #228dff;
}