.orderList{
    list-style-position: inside;
    padding-left: 0;
    width: fit-content;
    margin: 0 auto;
}

.orderList__item{
    line-height: 1.8;
    position: relative;
}

.orderList__wrapper{
    display: inline-flex;
}

.orderList__remove{
    border: none;
    background: transparent;
    cursor: pointer;
    color: #ff0000;
    position: absolute;
    right: -25px;
    top: 50%;
    transform:translateY(-50%);
}

