.orderView{
    width: 100%;
    grid-template-rows: 1fr 7fr;
    display: grid;
}
.orderView__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    position: sticky;
    top: 0;
    z-index: 100;
    background: #fff;
    border-bottom: 1px solid #000;
}

.orderView__container{
    padding: 25px;
    display: flex;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;

}

.orderView__container::-webkit-scrollbar{
    display: none;
}

.orderView__order-wrapper{
    transition: 0.4s;
    margin-left: -50px;
    position: relative;
    height: fit-content;
}
.orderView__order-wrapper:first-child{
    margin-left: 0;
}
.orderView__order{
    transition: 0.4s;
    padding: 25px;
    min-width: 250px;
    border: 1px solid;
    position: relative;

    background: #fff;
    margin-bottom: 10px;
    box-shadow: -5px 3px 3px #aaaaaa;
}

.orderView__billnum{
    text-align: center;
}

.orderView__order-subwrapper:last-child{
    position: absolute;
    top: 10px;
    right: -10px;
    z-index: -1;
}

.orderView__order-subwrapper:only-of-type{
    position: relative;
    top: 0;
    right: 0;
}

.orderView__order-wrapper:hover{
    margin-left: 10px;
    margin-right: 60px;

}

.orderView__order-wrapper:hover .orderView__order{
    margin-top: -5px;
}

.orderView__selection:checked ~ .orderView__order-subwrapper .orderView__order {
    margin-top: -15px;
}

.orderView__selection:hover{
    cursor: pointer;
}

.orderView__selection{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
}

.orderView__buttons{
    display: flex;
    margin-right: -15px;
}

.orderView__button{
    transition: 0.4s;
    margin-right: 15px;
    background-color: #FFC107;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.orderView__button:hover,
.orderView__button:active,
.orderView__button:focus{
    background-color: #FFD20C;
}