.sidebar{
    background-color: #007BFF;
    margin: 0;
    padding: 0;
    height: 100%;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    list-style-type: none;
}

.sidebar__item{
    padding: 10px;
}