.topbar{
    display: grid;
    grid-template-columns: 1fr 4fr;
    border-bottom: 2px solid #707070;
    height: 100%;
    padding-bottom: 25px;

}
.topbar__left{
    padding: 0 15px;
}
.topbar__left-text{
    font-size: 20px;
    font-weight: 600;
}
.topbar__left-back{
    border: 1px solid #707070;
    border-radius: 4px;
    background: none;
    font-size: 16px;
    padding: 5px 10px;
    min-width: 100px;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
}
.topbar__left-back:hover{
    padding-left: 6px;
    padding-right: 14px;
}


.topbar__wrapper{
    display: flex;
    justify-content: space-between;
}
.topbar__middle {
}
.topbar__middle-text{
    font-weight: 600;
    margin-bottom: 0;
}
.topbar__middle-text:last-child{
    margin-top: 5px;
}

.topbar__right{
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.topbar__right-text{
    font-weight: 600;
}
.topbar__right-button {
    transition: 0.4s;
    background: #FFC107;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.topbar__right-button:hover,
.topbar__right-button:active,
.topbar__right-button:focus{
    background-color: #FFD20C;
}